{{/* {{ $banner := resources.Get "images/studio-regulus-300x307.jpg" }} */}}

<!--
<div class="widget-banner widget">
    {{/*  <a href="/kontakt-forma/">
        <img src="{{ $banner.RelPermalink }}" 
        alt="Prijava" width="300" height="307">
    </a>  */}}

    <div class="boxbanner">

        <div>
            <a class="aBtn" href="/kontakt-forma/">
                <div class="red1 rbox plr">STUDIO REGULUS</div>
                <div class="red2 rbox plr"><span>prof.def. Katica Buljan Herceg</span><span>098/1800-159</span></div>
                <div class="red3 rbox plr"><span>savjetovanje</span><span>tretmani reguliranja biopolja</span></div>
                <div class="red4 rbox plr">Za savjetovanje i tretmane<span>kliknite ovdje</span></div>
            </a>
        </div>       
    </div>
</div>-->

{{/* LOAD FROM assets {{ $bannerSvg := resources.Get "svg/studio-regulusN.svg"
}}
<img id="boxBannerSVG" src="{{ $bannerSvg.RelPermalink }}" alt="" />
*/}} {{/*
<div class="bannercontainer">
  <a class="bannerLink shadow" href="/kontakt-forma/">
    <img
      width="100%"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
    />
  </a>
</div>
*/}}

<!--





<svg id="boxBannerSVG" viewBox="0 0 325 325" lang="hr" xmlns="http://www.w3.org/2000/svg" >
        <defs>
        <bx:grid x="0" y="0" width="106.453" height="91.17"/>
        <linearGradient id="gradient-1">
            <stop offset="0" style="stop-color: rgb(15, 62, 114);"/>
            <stop offset="1" style="stop-color: rgb(44, 128, 173);"/>
        </linearGradient>
        <linearGradient id="color-0" bx:pinned="true">
             <stop style="stop-color: #2d4059;"/>
        </linearGradient>
        <linearGradient id="color-1" bx:pinned="true">
            <stop style="stop-color: #ea5455;"/>
        </linearGradient>
        <linearGradient id="color-2" bx:pinned="true">
            <stop style="stop-color: #f07b3f;"/>
        </linearGradient>
        <linearGradient id="color-3" bx:pinned="true">
            <stop style="stop-color: rgb(226, 231, 91);"/>
        </linearGradient>
        <linearGradient id="color-4" bx:pinned="true">
            <stop style="stop-color: #2b2e4a;"/>
        </linearGradient>
        <linearGradient id="color-5" bx:pinned="true">
            <stop style="stop-color: #e84545;"/>
        </linearGradient>
        <linearGradient id="color-6" bx:pinned="true">
            <stop style="stop-color: #903749;"/>
        </linearGradient>
        <linearGradient id="color-7" bx:pinned="true">
            <stop style="stop-color: #53354a;"/>
        </linearGradient>
        <linearGradient gradientUnits="userSpaceOnUse" x1="161.989" y1="220.893" x2="161.989" y2="295.945" id="gradient-0" spreadMethod="pad" gradientTransform="matrix(1, 0, 0, 1, 0, 0)">
            <stop offset="0" style="stop-color: rgba(126, 69, 60, 0)"/>
            <stop offset="1" style="stop-color: rgba(57, 31, 27, 0)"/>
        </linearGradient>
        <linearGradient id="color-8" bx:pinned="true">
            <stop style="stop-color: #c31432;" offset="0"/>
            <stop style="stop-color: #240b36;" offset="1"/>
        </linearGradient>
        <linearGradient id="color-8-0" gradientTransform="matrix(0.069307, 1.30022, -0.271016, 0.205802, 0.726826, 0.231773)" xlink:href="#color-8"/>
        <linearGradient id="color-9" bx:pinned="true">
            <stop style="stop-color: #1b262c;"/>
        </linearGradient>
        <linearGradient id="color-10" bx:pinned="true">
            <stop style="stop-color: rgb(25, 52, 99);"/>
        </linearGradient>
        <linearGradient id="color-11" bx:pinned="true">
            <stop style="stop-color: #3282b8;"/>
        </linearGradient>
        <linearGradient id="color-12" bx:pinned="true">
            <stop style="stop-color: rgb(173, 212, 238);"/>
        </linearGradient>
        </defs>
        <g transform="matrix(0.339603, 0, 0, 0.412248, 106.635323, 62.851639)">
            <path style="fill: url(#color-10); stroke: rgb(0, 0, 0);" d="M -287.248 -152.279 H 616.248 A 26.752 26.752 0 0 1 643 -125.527 V -11.587 H -314 V -125.527 A 26.752 26.752 0 0 1 -287.248 -152.279 Z" bx:shape="rect -314 -152.279 957 140.692 26.752 26.752 0 0 1@bc4ad413"/>
            <text style="fill: url(#color-12); font-family: Arial, sans-serif; font-size: 9.5px; word-spacing: 0.1px; white-space: pre;" transform="matrix(7.806046, 0, 0, 6.165154, -417.292694, -238.47699)" x="20.036" y="29.13">STUDIO REGULUS</text>
            <path style="fill: url(#gradient-1);" transform="matrix(0, 1, -1, 0, 642.999756, -11.548378)" d="M 0 0 H 621.19 A 26.478 26.478 0 0 1 647.668 26.478 V 930.522 A 26.478 26.478 0 0 1 621.19 957 H 0 V 0 Z" bx:shape="rect 0 0 647.668 957 0 26.478 26.478 0 1@b1d476fe"/>
        </g>
        <g transform="matrix(1, 0, 0, 1.023522, 0, -2.854703)">
            <text style="fill: rgb(248, 248, 248); font-family: Arial, sans-serif; font-size: 10.2669px; line-height: 16.4271px; white-space: pre;" transform="matrix(1.807636, 0, 0, 1.617746, -16.49403, -48.842205)" x="20.376" y="86.863">prof.def. Katica Buljan Herceg</text>
            <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 9.90543px; white-space: pre;" transform="matrix(1.79692, 0, 0, 1.676789, -17.339878, -70.84082)" x="21.735" y="112.673">098/18-00-159</text>
        </g>
        <g>
            <text style="fill: url(#color-3); font-family: Arial, sans-serif; font-size: 16.3636px; font-weight: 700; white-space: pre;" transform="matrix(1, 0, 0, 1.1, 0, -16.710642)" x="18.395" y="164.05">SAVJETOVANJE</text>
            <text style="fill: url(#color-3); font-family: Arial, sans-serif; font-size: 15.7857px; font-weight: 700; letter-spacing: -0.1px; white-space: pre;" transform="matrix(1, 0, 0, 1.076923, 0, -14.985619)" x="19.376" y="191.417">TRETMANI REGULIRANJA BIOPOLJA</text>
        </g>
        <g id="svgbutton">
            <path id="svgPulsar" class="line" d="M 28.489 216.893 H 295.489 A 7 7 0 0 1 302.489 223.893 V 293.893 A 7 7 0 0 1 295.489 300.893 H 28.489 A 7 7 0 0 1 21.489 293.893 V 223.893 A 7 7 0 0 1 28.489 216.893 Z" />

            <path id="svgbtnpulsar" d="M 33.489 220.893 H 290.489 A 7 7 0 0 1 297.489 227.893 V 288.945 A 7 7 0 0 1 290.489 295.945 H 33.489 A 7 7 0 0 1 26.489 288.945 V 227.893 A 7 7 0 0 1 33.489 220.893 Z" 
             style="fill: url(#color-8-0); stroke-width: 0px; stroke-miterlimit: 0; stroke: url(#gradient-0); paint-order: fill;"/>            
            
             <text style="fill: rgb(248, 248, 248); font-family: Arial, sans-serif; font-size: 19px; white-space: pre;" x="50.638" y="250.918">Za savjetovanje i tretmane</text>
            <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 17px; font-weight: 700; white-space: pre;" x="92.182" y="277.603">KLIKNITE OVDJE</text>
        </g>
    
    </svg>
-->
