{{/* {{ $banner := resources.Get "images/studio-regulus-300x307.jpg" }} */}}

<!--
<div class="widget-banner widget">
    {{/*  <a href="/kontakt-forma/">
        <img src="{{ $banner.RelPermalink }}" 
        alt="Prijava" width="300" height="307">
    </a>  */}}

    <div class="boxbanner">

        <div>
            <a class="aBtn" href="/kontakt-forma/">
                <div class="red1 rbox plr">STR</div>
                <div class="red2 rbox plr"><span>Marisa Mulan</span><span>000/000-000</span></div>
                <div class="red3 rbox plr"><span>savjetovanje</span><span>tretmani savjetovanje</span></div>
                <div class="red4 rbox plr">Za savjetovanje i tretmane<span>kliknite ovdje</span></div>
            </a>
        </div>       
    </div>
</div>-->

{{/*
<img id="boxBannerSVG" src="{{ $bannerSvg.RelPermalink }}" alt="" />
*/}} {{/*
<div class="bannercontainer">
  <a class="bannerLink shadow" href="/kontakt-forma/">
    <img
      width="100%"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
    />
  </a>
</div>
*/}}

