{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix := and $logoImage $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<a class="logo__link logoImg" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }} rel="home">
			{{/*  {{ with $logoImage -}}  */}}
				{{/*  <div class="logo__item logo__imagebox ">  */}}
					    {{/*  <a class="logoLink2" href="/">
							<img width="100%" height="30" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" >
						</a>    */}}
					 {{/*  <img class="logo__img" src="{{ . | relURL }}">   */}}
					
					{{/*  {{ $logoImg := resources.Get "images/logo_helper4.svg" }}
					<img class="logo__img" width="100" height="30" src="{{ $logoImg.RelPermalink }}">    */}}

					{{/*  <img class="logo__img" width="100" height="30" src="/img/logo_helper4.svg">  */}}

				{{/*  </div>  */}}
			{{/*  {{- end -}}  */}}

			{{/*  {{ with $logoTitle -}}
				<div class="logo__item logo__text">
					<div class="logo__title">{{ . }}</div>
					{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
				</div>
			{{- end }}  */}}
		</a>

		{{ partial "langs.html" . }}

		{{/*  accent-colors je u langs.html  */}}
		

		
        {{/*<div id="accent-picker">	
			<button class="accent-button" data-accent-option="red"></button>
			<button class="accent-button" data-accent-option="green"></button>
			<button class="accent-button" data-accent-option="orange"></button>
			<button class="accent-button" data-accent-option="blue"></button>
		</div>  */}}
		{{/*  <p class="accented">Ovo je tekst s accent bojom</p>  */}}

		{{/* uključiti kod rješavanja implementacije svijetlo / tamno
		 <button id="themeToggle"><span id="themeIcon"></span></button>  */}}
	</div>
{{- end }}
