<p class="error message js-hidden">{{ i18n "js_required" }}</p>
<p class="contact-submitted status message hidden">{{ i18n "contact_submitted" }}</p>
<p class="contact-error error message hidden">{{ i18n "contact_error" }}</p>

<div class="pero">
       

<form id="myForm" class="contact-form hidden" method="post">
       <div class="inputBox">
           <input id="txtIme" class="txtinput" type="text" name="name" tabindex="1"  required>
           <span>Your Name</span>
       </div>
       <div class="inputBox">
           <input id="txtEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="txtinput" type="email" name="email" tabindex="2" required>
           <span>Your Email</span>
       </div>
       <input type="text" id="edit-url" class="hidden" name="url" > 

       <div class="inputBox">
           <textarea id="txtPoruka" class="txtinput" name="message" tabindex="3" rows="10" required></textarea>
           <span>Your message</span>
       </div>
       <div class="inputBox">
           <input type="submit" name="submit" tabindex="4" class="form-submit txtinputBtn" value="Send message" disabled>
       </div>

   </form>
</div>
