<div class="toc">
    <!-- <input id=_toc type=checkbox name=_toc>
    <label class=collapse for=_toc>Table of contents&nbsp;<svg xmlns=http://www.w3.org/2000/svg width=16 height=16 viewBox="0 0 24 24" fill=none stroke=currentcolor stroke-width=2 stroke-linecap=round stroke-linejoin=round class="feather feather-chevron-down">
        <polyline class=chevron-down points="6 10 14 18 22 10"/><polyline class=chevron-up points="22 18 14 10 6 18"/>
        </svg>
    </label> -->
    {{ .Page.TableOfContents }}
</div>

  