{{- $id := .Get 0 -}}
{{- $size := default "100%xauto" (.Get 1) -}}
{{- $dimensions := split $size "x" -}}
{{- $width := index $dimensions 0 | default "100%" -}}
{{- $height := index $dimensions 1 | default "auto" -}}
{{- $thumbnail := printf "https://img.youtube.com/vi/%s/hqdefault.jpg" $id -}}

<div class="youtube-lazy" data-id="{{ $id }}" style="position:relative; cursor:pointer; width:{{ $width }}; height:{{ $height }}; max-width:100%;">
  <img src="{{ $thumbnail }}" alt="YouTube video" style="width:100%; height:100%; object-fit:cover; display:block;">
  <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
    <svg width="68" height="48" viewBox="0 0 68 48">
      <path d="M66.52 7.85a8 8 0 00-5.63-5.66C56.36 1.33 34 1.33 34 1.33s-22.36 0-26.89 0a8 8 0 00-5.63 5.66A83.16 83.16 0 000 24a83.16 83.16 0 001.48 16.15 8 8 0 005.63 5.66c4.53 1.33 26.89 1.33 26.89 1.33s22.36 0 26.89-1.33a8 8 0 005.63-5.66A83.16 83.16 0 0068 24a83.16 83.16 0 00-1.48-16.15z" fill="#f00"/>
      <path d="M45 24L27 14v20z" fill="#fff"/>
    </svg>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".youtube-lazy").forEach(function (el) {
      el.addEventListener("click", function () {
        var id = el.dataset.id;
        var iframe = document.createElement("iframe");
        iframe.setAttribute("src", "https://www.youtube.com/embed/" + id + "?autoplay=1");
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("allowfullscreen", "1");
        iframe.setAttribute("allow", "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture");
        iframe.style.width = "100%";
        iframe.style.height = "100%";
        el.innerHTML = "";
        el.appendChild(iframe);
      });
    });
  });
</script>
